@model IEnumerable<Transport>
@{

}
<div class="container mt-5">
    <div class="grid-container">
        @foreach (var item in Model)
        {
            <div class="grid-item">
                <a href="#">
                    <img class="pic-1" src="/iamges/@item.Images" alt="">
                    <h2>@item.Name</h2>
                    <p>@item.Model <span>@item.ModelVersion</span></p>
                </a>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a onclick="Add_TRAN(@item.Id)" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <a class="add-to-cart" onclick="addtocart(@item.Id)">+ Add To Cart</a>
            </div>
        }
    </div>
</div>